* {
    box-sizing: border-box;
}

:root {
    --main-font-colour: #849E00;
    --background-colour: #FFFFF3;
    --orange: #FA4411;
    --black: #2B2D25;
}

@font-face {
    font-family: Bubbles;
    src: url(../font/PPPangramSansRounded-Bold.woff);
}

body {
    margin: 0 auto;
    background-color: var(--background-colour);
    color: var(--main-font-colour);
    overflow-x: hidden;
    font-family: Helvetica, Arial, sans-serif;

}

nav {
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: var(--background-colour);
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: 16px;

    a {
        color: var(--orange);
        text-decoration: none;
        margin: 1rem 2rem;
    }
}

.exhibition-heading {
    padding-top: 30vh;
    padding-bottom: 30vh;
    font-size: 20vw;
    overflow: hidden;
    cursor: pointer;
    color: var(--main-font-colour);
    text-align: center;
    margin: 0 auto 4rem;
}

.exhibition-heading span {
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
    text-align: center;
}

.bio-creating {
    color: var(--orange);
    font-size: 5vw;
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 0px;
}

.values {
    font-size: 4vw;
    padding-left: 45vw;
    margin-bottom: 30vh;

    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 15vh 2rem;
    gap: 32px;

    .portrait {
        max-width: 20%;
    }

    img {
        max-width: 100%;
        border-radius: 32px;
        width: 100%;
        height: auto;
    }

    h2 {
        font-size: 48px;
        margin-bottom: 48px
    }

    p {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 16px;
    font-family: "trade-gothic-next", sans-serif;

    }

    .contacts {
        font-weight: bold;
        margin-top: 4px;
    }
}

.centering {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.projects {
    width: 80%;

    .sub-heading {
        font-size: 24px;
        text-align: center;
        margin-bottom: 0px;
        color: var(--orange);
    }


    a {
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: var(--main-font-colour);
        padding: 0.5rem 1rem;
        border: var(--main-font-colour) solid 2px;
        border-radius: 24px;
        font-weight: 800;
    }

    a:hover {
        background-color: var(--main-font-colour);
        color: var(--background-colour);
        border: var(--main-font-colour) solid 2px;
        transition-duration: 500ms;
    }

    a:active {
        color: var(--background-colour);
        background-color: var(--orange);
    }

    h3 {
        margin-top: 8px;
        font-size: 64px;
        margin-bottom: 8px;
    }

    .text {
        font-size: 16px;
        max-width: 80%;
        margin-bottom: 3rem;
        color: var(--black);
        font-family: "trade-gothic-next", sans-serif;
        font-weight: 300;
    }

    img {
        max-width: 50%;
        width: 100%;
        border-radius: 32px;
    }

    .flex {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
    }

    .flex-text {
        align-content: center;
    }

    .reverse {
        flex-direction: row-reverse;
    }
}

footer {
    margin-top: 10vh;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    font-family: "trade-gothic-next", sans-serif;
}

@media (width > 1600px) {
    .exhibition-heading {
        font-size: 400px;
    }
}

@media (width < 800px) {
    main {
        display: block;
    }
}


/* CURSOR ANIMATION */

#heartContainer {
    position: absolute;
    pointer-events: none;
}

.heart {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--orange);
    /* Color for the circles */
    border-radius: 50%;
    /* Makes it a circle */
    transition: transform 0.2s, opacity 0.2s;
    z-index: 1;
}