* {
    box-sizing: border-box;
}

:root {
    --main-font-colour: #849E00;
    --background-colour: #FFFFF3;
    --orange: #FA4411;
    --black: #2B2D25;
}

body {
    margin: 0 auto;
    background-color: var(--background-colour);
    color: var(--main-font-colour);
    font-family: Helvetica, Arial, sans-serif;
}

.blob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 650px;
    border-radius: 100%;
    background-image: linear-gradient(#fa4411 20%, #fffff3);
    filter: blur(250px);
    transition: all 450ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: -1;
}


/* NAVIGATION BAR */
nav {
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: var(--background-colour);
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: 16px;

    a {
        color: var(--orange);
        text-decoration: none;
        margin: 1rem 2rem;
        transition-duration: 300ms;
    }

    a:hover {
        color: var(--main-font-colour);
    }
}

/* HOMEPAGE */
.exhibition-heading {
    padding-top: 30vh;
    padding-bottom: 30vh;
    font-size: 18vw;

    cursor: pointer;
    color: var(--main-font-colour);
    text-align: center;
    margin: 0 auto;
}

.exhibition-heading span {
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
    text-align: center;
}

/* TAGLINE AND VALUES */
.bio-name {
    color: var(--main-font-colour);
    font-size: 5vw;
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 16px;
    transition-duration: 800ms;
    height: auto;
}

.bio-name:hover {
    color: var(--orange);
}

.bio-creating {
    color: var(--main-font-colour);
    font-size: 3vw;
    text-align: left;
    padding-left: 3rem;
    padding-right: 5rem;
    padding-bottom: 40vh;
    margin-bottom: 0px;
    height: 20vh;
    transition-duration: 800ms;
    margin-top: 0px;
}

.bio-creating:hover {
    color: var(--orange);
}

.values {
    font-size: 4vw;
    margin-top: 15vh;
    margin-bottom: 10vh;
    transition-duration: 800ms;
    color: var(--main-font-colour);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.value {
    display: flex;
    align-items: flex-start;
}

.value h2 {
    margin: 0;
    width: 500px;
    font-size: 5vw;
    transition-duration: 300ms;
}

.value h2:hover {
    color: var(--orange);
}

.definition {
    align-items: center;
    font-size: 16px;
    color: var(--black);
    font-family: "trade-gothic-next", sans-serif;
    text-align: left;
    line-height: 1.6;
    max-width: 750px;
    opacity: 0;
    transition-duration: 500ms;
}


.value:hover .definition {
    opacity: 1;
}

/* ABOUT ME PAGE */
.bio {
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-top: 5rem;
    display: flex;
    margin: 0 auto;

    .portrait {
        max-width: 100%;
        margin-left: 20rem;
        width: 100%;
    }

    img {
        max-width: 100%;
        border-radius: 32px;
    }

    h2 {
        font-size: 48px;
        margin-bottom: 48px;
        margin-top: 0px;
    }

    p {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 16px;
        line-height: 1.6;
        font-family: "trade-gothic-next", sans-serif;
    }

    .bio-paragraph {
        color: var(--black);
        max-width: 60%;
    }

    h3 {
        color: var(--orange);
        font-weight: bold;
        margin-top: 4px;
    }
}

.contacts {

    font-family: "trade-gothic-next", sans-serif;
    margin-bottom: 0px;
    margin-top: 64px;

    li {
        list-style: none;
    }

    a {
        text-decoration: underline;
        color: var(--black);
    }
}

.aboutme-values {
    margin-top: 2rem;

    h3 {
        color: var(--main-font-colour);
        font-size: 16vw;
        margin: 0px auto;
        text-align: center;
        transition-duration: 500ms;
    }

    h3:hover {
        color: var(--orange);
    }

    p {
        font-family: "trade-gothic-next", sans-serif;
        margin: 32px auto 48px;
        color: var(--black);
        text-align: center;
        font-size: 16px;
        max-width: 50%;
    }
}

.skills {
    display: flex;
    justify-content: center;
    gap: 20%;

    h3 {
        font-size: 32px;
        color: var(--orange);
        margin-bottom: 16px;
    }

    li {
        font-family: "trade-gothic-next", sans-serif;
        color: var(--black);
    }
}

/* CENTERING DIVS */
.centering {
    display: flex;
    justify-content: center;
    gap: 2rem;
}



/* MY WORK LAYOUT */
.projects {
    width: 80%;
    padding-top: 5rem;

    .sub-heading {
        font-size: 32px;
        text-align: center;
        margin-bottom: 32px;
        color: var(--orange);
    }


    a {
        text-decoration: none;
        color: var(--main-font-colour);
        transition-duration: 500ms;
    }

    a:hover {
        opacity: 80%;
        color: var(--orange);
    }

    h3 {
        margin-top: 8px;
        font-size: 64px;
        margin-bottom: 8px;
    }

    .text {
        font-size: 16px;
        margin-bottom: 2.5rem;
        color: var(--black);
        font-family: "trade-gothic-next", sans-serif;
        font-weight: 300;
    }

    img {
        max-width: 50%;
        width: 100%;
        border-top-left-radius: 32px;
        border-bottom-left-radius: 32px;
    }

    .flex {
        display: flex;
        gap: 2rem;
        margin-bottom: 3rem;

    }

    .flex-text {
        align-content: center;
    }

    .reverse {
        flex-direction: row-reverse;
        justify-content: space-between;

        img {
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}

.casestudies-hero {

    padding-top: 5rem;
    padding-bottom: 5rem;

    video {
        max-width: 90%;
        margin: 0 auto 2rem;
        display: flex;
    }

    h1 {
        font-size: 10vw;
        margin-bottom: 0;
        margin-top: 0;
        text-align: center;
        transition-duration: 500ms;
    }

    h1:hover{
        color: var(--orange);
    }
}

.casestudies-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10vh;

    p {
        font-family: "trade-gothic-next", sans-serif;
        color: var(--black);
        font-size: 16px;
        margin-top: 0px;
    }

    h3 {
        margin-bottom: 8px;
        color: var(--orange);
    }
.information{
    width: 40%;
}
    .brief{
        width:40%;
    }
}

.casestudytext {
    img {
        max-width: 80%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    video {
        max-width: 80%;
        margin: 0 auto;
        display: flex;
    }

    iframe {
        max-width: 100%;
        margin: 5rem auto;
        display: flex;
        justify-content: center;
    }

    p {
        padding: 10vh 25vw;
        color: var(--black);
        font-family: "trade-gothic-next", sans-serif;
        font-size: 16px;
    }

    h3 {
        color: var(--orange);
        padding-left: 25vw;
        font-size: 24px;
    }

    .bodytext {
        padding-top: 0vh;
    }

    .headingtext {
        padding-top: 10vh;
    }
}

/* FOOTER */
footer {
    margin-top: 10vh;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    font-family: "trade-gothic-next", sans-serif;
color: var(--orange);
    a {
        font-family: "trade-gothic-next", sans-serif;
        color: var(--orange);
    }
}

@media (1550px > width > 1150px) {

    .bio {
        display: block;
        padding-top: 5rem;
        display: block;
        margin: 0 auto;

        .portrait {
            max-width: 40%;
            margin: 2rem auto;
        }

        img {
            max-width: 100%;
            border-radius: 32px;
            text-align: center;
        }

        h2 {
            font-size: 48px;
            margin-bottom: 16px;
            margin-top: 16px;
            text-align: center;
        }

        p {
            font-size: 16px;
            font-family: "trade-gothic-next", sans-serif;
            margin: 0 auto 3rem;
            width: 40%;
        }

        .bio-paragraph {
            color: var(--black);
            max-width: 90%;
        }

        h3 {
            font-weight: bold;
            color: var(--orange);
            margin: 0 auto;
            text-align: center;
        }
    }
}

@media (1150px > width > 800px) {
    .projects {
        width: 90%;

        img {
            border-radius: 32px;
        }

        h3 {
            font-size: 32px;
        }

        .text {
            margin-bottom: 1.5rem;
            max-width: 100%;
        }
    }

    .values {
        padding-top: 10vh;
        display: block !important;
        text-align: left;

        h2 {
            margin-bottom: 16px;
        }
    }

    .definition {
        opacity: 100%;
        margin-top: 0px;
    }
}

@media (width < 800px) {
    .blob {
        width: 400px;
        height: 400px;
    }

    .exhibition-heading {
        font-size: 15vw;
        text-align: left;
        padding: 40vh 0 40vh 2rem;
    }

    .values {
        text-align: left;
        display: block !important;
        padding: 0px 2rem 0px 0px;

        .value {
            display: block;
        }

        h2 {
            margin-bottom: 8px;
        }

        .definition {
            opacity: 100%;
            margin-top: 0px;
        }
    }

    .bio-name {
        padding-left: 0px;
        margin-left: 2rem;
        font-size: 48px;
    }

    .bio-creating {
        height: 40vh;
        font-size: 32px !important;
        padding-bottom: 40vh;
    }

    .hide {
        display: none;
    }

    .projects {
        display: block;
        width: 90%;

        img {
            max-width: 100%;
            border-radius: 32px;
        }

        .reverse {
            img {
                border-radius: 32px;
            }
        }

        .flex {
            display: block !important;
            margin-bottom: 5rem;
        }

        h3 {
            font-size: 48px;
        }

        .text {
            max-width: 100%;
        }
    }

    .bio-creating {
        font-size: 10vw;
        padding-left: 2rem;
        padding-right: 1rem;
    }

    .values {
        margin-top: 10vh;
        font-size: 7vw;
        margin-left: 2rem;

        h2 {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .bio {
        padding-top: 5rem;
        display: block;
        margin: 0 auto;

        .portrait {
            max-width: 80%;
            margin: 0 auto;
        }

        img {
            max-width: 100%;
            border-radius: 32px;
            text-align: center;
        }

        h2 {
            font-size: 48px;
            margin-bottom: 16px;
            margin-top: 16px;
            text-align: center;
        }

        p {
            font-size: 16px;
            font-family: "trade-gothic-next", sans-serif;
            margin: 0 auto;
        }

        .bio-paragraph {
            color: var(--black);
            max-width: 90%;
        }

        h3 {
            font-weight: bold;
            color: var(--orange);
            margin: 0 auto;
            text-align: center;
        }
    }

    .sub-heading {
        padding-top: 0px !important;
        margin-top: 0px;
    }

    .aboutme-values {

        margin-bottom: 10vh;

        h3 {
            text-align: left;
            padding-left: 2rem;
        }

        p {
            margin: 16px auto;
            text-align: left;
            max-width: 100%;
            padding-left: 2rem;
            padding-right: 1rem;
        }
    }

    .skills {
        display: block;
        margin-left: 2rem;

        h3 {
            margin-bottom: 0px;
        }

        p {
            margin-top: 16px;
        }
    }

    .casestudies-info {
        display: block;
        margin-left: 2rem;

        .information{
            width: 100%;
            padding-left: 1.5rem;        
        }

        .brief{
            width: 100%;
            padding: 10vh 2rem 10vh 1.5rem;
        }
    }

    .casestudytext {

        img {
            max-width: 100%;
        }

        p {
            padding-left: 2rem;
            padding-right: 1.5rem;
        }

        h3 {
            padding-left: 2rem;
        }
    }

    footer {
        margin-top: 5rem;
        display: block;
        margin-left: 2rem;
        margin-bottom: 3rem;

        a {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}


/* CURSOR ANIMATION */

#heartContainer {
    position: absolute;
    pointer-events: none;
}

.heart {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--orange);
    /* Color for the circles */
    border-radius: 50%;
    /* Makes it a circle */
    transition: transform 0.2s, opacity 0.2s;
    z-index: 1;
}