* {
    box-sizing: border-box;
}

:root {
    --main-font-colour: #849E00;
    --background-colour: #FFFFF3;
    --orange: #FA4411;
    --black: #2B2D25;
}

body {
    margin: 0 auto;
    background-color: var(--background-colour);
    color: var(--main-font-colour);
    overflow-x: hidden;
    font-family: Helvetica, Arial, sans-serif;

}

/* NAVIGATION BAR */
nav {
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: var(--background-colour);
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: 16px;

    a {
        color: var(--orange);
        text-decoration: none;
        margin: 1rem 2rem;
        transition-duration: 300ms;
    }

    a:hover {
        color: var(--main-font-colour);
    }
}

/* HOMEPAGE */
.exhibition-heading {
    padding-top: 30vh;
    padding-bottom: 30vh;
    font-size: 18vw;

    cursor: pointer;
    color: var(--main-font-colour);
    text-align: center;
    margin: 0 auto;
}

.exhibition-heading span {
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
    text-align: center;
}

/* TAGLINE AND VALUES */
.bio-creating {
    color: var(--orange);
    font-size: 5vw;
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 0px;
}

.values {
    font-size: 4vw;
    margin-top: 15vh;
    margin-bottom: 10vh;
    text-align: center;

    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

/* ABOUT ME PAGE */
.bio {
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-top: 5rem;
    display: flex;
    margin: 0 auto;

    .portrait {
        max-width: 100%;
        margin-left: 2rem;
        width: 100%;
    }

    img {
        max-width: 100%;
        border-radius: 32px;
    }

    h2 {
        font-size: 48px;
        margin-bottom: 48px;
        margin-top: 0px;
    }

    p {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 16px;
        font-family: "trade-gothic-next", sans-serif;
    }

    .bio-paragraph {
        color: var(--black);
        max-width: 60%;
    }

    .contacts {
        color: var(--orange);
        font-weight: bold;
        margin-top: 4px;
    }
}

.aboutme-values {
    margin-top: 5rem;

    h3 {
        color: var(--main-font-colour);
        font-size: 16vw;
        margin: 0px auto;
        text-align: center;
    }

    p {
        font-family: "trade-gothic-next", sans-serif;
        margin: 32px auto 48px;
        color: var(--black);
        text-align: center;
        font-size: 16px;
        max-width: 50%;
    }
}

.skills {
    display: flex;
    justify-content: space-around;

    h3 {
        font-size: 32px;
        color: var(--orange);
        margin-bottom: 0px;
    }

    p {
        font-family: "trade-gothic-next", sans-serif;
        color: var(--black);
        margin-top: 16px;
    }
}

/* CENTERING DIVS */
.centering {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* MY WORK LAYOUT */
.projects {
    display: none;
    width: 80%;
    padding-top: 5rem;

    .sub-heading {
        font-size: 32px;
        text-align: center;
        margin-bottom: 0px;
        color: var(--orange);
    }


    a {
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: var(--main-font-colour);
        padding: 0.5rem 1rem;
        border: var(--main-font-colour) solid 2px;
        border-radius: 24px;
        font-weight: 800;
    }

    a:hover {
        background-color: var(--main-font-colour);
        color: var(--background-colour);
        border: var(--main-font-colour) solid 2px;
        transition-duration: 500ms;
    }

    a:active {
        color: var(--background-colour);
        background-color: var(--orange);
    }

    h3 {
        margin-top: 8px;
        font-size: 32px;
        margin-bottom: 8px;
    }

    .text {
        font-size: 16px;
        margin-bottom: 2.5rem;
        color: var(--black);
        font-family: "trade-gothic-next", sans-serif;
        font-weight: 300;
    }

    img {
        max-width: 50%;
        width: 100%;
        border-top-left-radius: 32px;
        border-bottom-left-radius: 32px;
    }

    .flex {
        display: flex;
        gap: 2rem;
        margin-bottom: 3rem;

    }

    .flex-text {
        align-content: center;
    }

    .reverse {
        flex-direction: row-reverse;
        justify-content: space-between;

        img {
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}

.casestudies-info {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    h1 {
        font-size: 10vw;
        margin-bottom: 0;
        margin-top: 0;
    }

    p {
        font-family: "trade-gothic-next", sans-serif;
        color: var(--black);
        font-size: 16px;
        margin-top: 0px;
    }

    h3 {
        margin-bottom: 8px;
        color: var(--orange);
    }

    video {
        max-width: 90%;
        margin: 0 auto 5rem;
        display: flex;
    }

}

.casestudytext {
    img {
        max-width: 100%;
        height: auto;
        margin: 0;
    }

    video {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
    }

    iframe {
        max-width: 100%;
        margin: 5rem auto;
        display: flex;
        justify-content: center;
    }

    p {
        padding: 10vh 25vw;
        color: var(--black);
        font-family: "trade-gothic-next", sans-serif;
        font-size: 16px;
    }

    h3 {
        color: var(--orange);
        padding-left: 25vw;
        font-size: 24px;
    }

    .bodytext {
        padding-top: 0vh;
    }

    .headingtext {
        padding-top: 10vh;
    }
}

/* FOOTER */
footer {
    margin-top: 10vh;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    font-family: "trade-gothic-next", sans-serif;

    a {
        font-family: "trade-gothic-next", sans-serif;
        color: var(--main-font-colour);
    }
}

@media (1150px > width > 800px) {
    .projects {
        width: 90%;

        img {
            border-radius: 32px;
        }

        h3 {
            font-size: 32px;
        }

        .text {
            margin-bottom: 1.5rem;
            max-width: 100%;
        }
    }

}

@media (width < 800px) {

    .exhibition-heading {

        font-size: 15vw;
        text-align: left;
        padding-left: 2rem;
    }

    .values {
        text-align: left;
    }

    .cards {
        display: none !important;
    }

    .hide {
        display: none;
    }

    .projects {
        display: block;
        width: 90%;

        img {
            max-width: 100%;
            border-radius: 32px;
        }

        .reverse {
            img {
                border-radius: 32px;
            }
        }

        .flex {
            display: block !important;
            margin-bottom: 5rem;
        }

        h3 {
            font-size: 48px;
        }

        .text {
            max-width: 100%;
        }
    }

    .bio-creating {
        font-size: 10vw;
        padding-left: 2rem;
        padding-right: 1rem;
    }

    .values {
        font-size: 7vw;
        margin-left: 2rem;

        h2 {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .bio {
        gap: 32px;
        padding-top: 5rem;
        display: block;
        margin: 0 auto;

        .portrait {
            max-width: 80%;
            margin: 0 auto;
        }

        img {
            max-width: 100%;
            border-radius: 32px;
            text-align: center;
        }

        h2 {
            font-size: 48px;
            margin-bottom: 16px;
            margin-top: 16px;
            text-align: center;
        }

        p {
            font-size: 16px;
            font-family: "trade-gothic-next", sans-serif;
            margin: 0 auto;
        }

        .bio-paragraph {
            color: var(--black);
            max-width: 90%;
        }

        .contacts {
            font-weight: bold;
            color: var(--orange);
            margin: 0 auto;
            text-align: center;
        }
    }

    .aboutme-values {

        margin-bottom: 10vh;

        h3 {
            text-align: left;
            padding-left: 2rem;
        }

        p {
            margin: 16px auto;
            text-align: left;
            max-width: 100%;
            padding-left: 2rem;
            padding-right: 1rem;
        }
    }

    .skills{
        display: block;
        margin-left: 2rem;
        h3{
            margin-bottom: 0px;
        }
        p{
            margin-top: 16px;
        }
    }

    .casestudies-info{
        display: block;
        margin-left: 2rem;
    }

    .casestudytext {
        p {
            padding-left: 2rem;
            padding-right: 1.5rem;
        }
    }

    footer {
        margin-top: 5rem;
        display: block;
        margin-left: 2rem;
        margin-bottom: 3rem;

        a {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}


/* CURSOR ANIMATION */

#heartContainer {
    position: absolute;
    pointer-events: none;
}

.heart {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--orange);
    /* Color for the circles */
    border-radius: 50%;
    /* Makes it a circle */
    transition: transform 0.2s, opacity 0.2s;
    z-index: 1;
}